<!DOCTYPE html>
<html lang="en">   
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

 
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/my script.js"></Script>
</head>
<center>
        <body ng-app="MyApp" ng-controller="MyCtrl">
        <div class="container">
          
        <div class="jumbotron py-3">
        <center>
            <h1 class="text-center">{{title}}</h1>
            <p class="pt-34">If COVID-19 is spreading in your community, stay safe by taking some simple precautions, such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds, cleaning your hands, and coughing into a bent elbow or tissue.</p>
           
        
         <!--all data-->
   
         <div class="row">
         <div class="col-md-4">
             <div class="card bg-warning text-white">
           <div class="card-body">
               <h3>Confirmed Cases</h3>
                <h3>{{all_data.confirmed.value}}</h3>
           </div>
         </div>
         </div> 
         
         <div class="col-md-4"> 
            <div class="card bg-success text-white">
            <div class="card-body">
                <h3>Recovered Cases</h3>
                <h3>{{all_data.recovered.value}}</h3>
            </div>
          </div>
         </div>
         
         
    
         <div class="col-md-4">
            <div class="card bg-danger text-white">
            <div class="card-body">
                <h3>Death Cases</h3>
                <h3>{{all_data.deaths.value}}</h3>
            </div>
          </div>
         </div>
         </div>
         
         

         <!--END ALL DATA-->

         <input 
         type="text"
         class="form-control mt-4"
         placeholder="Enter Country Here"
         ng-model="c"
         ng-change="get_c_data()"
         />


           <!-- c data -->

           <div class="container-fluid" ng-if="c_data">
           <h1 class="text-center mt-4 text-uppercase">{{c}} status</h1>
           <div class="row text-center mt-4">
           
            <div class="col-md-4">
                <div class="card bg-warning text-white">
              <div class="card-body">
                  <h3>Confirmed Cases</h3> 
                   <h3>{{c_data.confirmed.value}}</h3>
              </div>
            </div>
            </div>
            
            <div class="col-md-4">
               <div class="card bg-success text-white">
               <div class="card-body">
                   <h3>Recovered Cases</h3>
                   <h3>{{c_data.recovered.value}}</h3>
               </div>
             </div>
            </div>
            
       
            <div class="col-md-4">
               <div class="card bg-danger text-white">
               <div class="card-body">
                   <h3>Death Cases</h3>
                   <h3>{{c_data.deaths.value}}</h3>
               </div>
              </div>
             </div>
            </div>
            </div>
        </div>
 <!--end c data-->
         </div>
       </body> 
    </center>
   </div>
  </div>
 </body>
</html> 